<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Sign-UP</h1>
    <form action="/signup" method="post">
        <label for="name">name</label>
        <input type="text" name="name" id="">

        <label for="dept">department</label>
        <input type="text" name="dept" id="">
        <label for="password">PAssword</label>
        <input type="text" name="password" id="">
        <input type="submit" value="Signup">
    </form>


    <h1> have an account</h1>
    <a href='/login'>login</a>

</body>

</html>